@inject Blaster.WebApi.Security.UserHelper UserHelper
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cloud Self Service Portal</title>
    <link rel="stylesheet" href="~/main.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    @RenderSection("Header", required: false)
</head>
<body>
    
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">

        <div class="navbar-brand">
            <a class="navbar-item" href="@Url.Action("Index", "Frontpage")">
                <img src="https://brand-central.dfds.com/upload/screens/1/5fd535300d6f9ef9b7e6ffae900a5aa1-1521806467_1521806498_large.png">
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="@Url.Action("Index", "Frontpage")" class="navbar-item">Home</a>
                <a href="@Url.Action("Index", "Capability")" class="navbar-item">Capabilities</a>             
                <a href="https://wiki.build.dfds.com "How To")" class="navbar-item">How to (Wiki)</a> 
                <a href="https://github.com/dfds "GitHub")" class="navbar-item">GitHub (Code examples)</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    @UserHelper.CurrentUser.Name
                </div>
            </div>
        </div>

    </div>
</nav>

@RenderBody()

<script>
    window.basePath = "@Context.Request.PathBase";
    window.currentUser = { email: "@UserHelper.CurrentUser.Email"};
</script>

<script src="~/main.bundle.js"></script>

@RenderSection("Scripts", required: false)

</body>
</html>