@inject Blaster.WebApi.Security.UserHelper UserHelper
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cloud Self Service Portal</title>
    <link rel="stylesheet" href="~/main.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest" crossorigin="use-credentials">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    @RenderSection("Header", required: false)
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137017735-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-137017735-1');
    </script>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="nav">
        <div class="main">
            <div style="display: flex; flex-direction: row;">
                <div class="navbar-brand">
                    <a class="navbar-item" href="@Url.Action("Index", "Frontpage")">
                        <img src="~/img/dfdslogo_large.png">
                    </a>
                </div>

                <div class="navbar-mobile">
                    <a role="button" class="navbar-burger burger" v-bind:class="{'is-active': isActive}" v-on:click="toggleActive()" aria-label="menu" aria-expanded="false" data-target="menu">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
            </div>

            <div id="menu" class="navbar-menu" v-bind:class="{'is-active': isActive}">
                <div class="navbar-start">
                    <a href="@Url.Action("Index", "Frontpage")" class="navbar-item">Home</a>
                    <a href="@Url.Action("Index", "Capability")" class="navbar-item">Capabilities</a>
                    <a v-if="showPublicTopics" href="@Url.Action("Index", "Topic")" class="navbar-item">Topics</a>
                    <a href="https://playbooks.dfds.cloud" class="navbar-item">Playbooks</a>
                    <a href="https://github.com/dfds" class="navbar-item">GitHub (Code examples)</a>
                    <a href="@Url.Action("SharedComponents", "Frontpage")" class="navbar-item">UI</a>
                    <a href="https://dfdsit.statuspage.io" class="navbar-item">Status page</a>
                </div>

                <div class="navbar-end">
                    <div v-cloak class="navbar-item">
                        <div v-if="isAuthenticated()" class="login">
                          <span style="text-overflow: ellipsis; overflow: hidden;">{{getUserName()}}</span>
                          <a v-on:click="signOut()">
                              Sign out
                          </a>
                        </div>
                        <a v-if="!isAuthenticated()" v-on:click="signIn()">
                            Sign in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>


@RenderBody()

<script>
    window.basePath = "@Context.Request.PathBase";
    window.currentUserRazor = { email: "@UserHelper.CurrentUser.Email" };
</script>

<script src="~/main.bundle.js"></script>

@* Statuspage embeded test by running statusEmbedTest() in e.g. development tools *@
<script src="https://j6cnk4jm4vfc.statuspage.io/embed/script.js"></script>

@RenderSection("Scripts", required: false)

</body>
</html>