@inject Blaster.WebApi.Security.UserHelper UserHelper
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cloud Self Service Portal</title>
    <link rel="stylesheet" href="~/main.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    @RenderSection("Header", required: false)
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137017735-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-137017735-1');
    </script>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container nav">
        <div style="display: flex; flex-direction: row;">
            <div class="navbar-brand">
                <a class="navbar-item" href="@Url.Action("Index", "Frontpage")">
                    <img src="~/img/dfdslogo_large.png">
                </a>
            </div>

            <div class="navbar-mobile">
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        </div>

        <div id="menu" class="navbar-menu">
            <div class="navbar-start">
                <a href="@Url.Action("Index", "Frontpage")" class="navbar-item">Home</a>
                <a href="@Url.Action("Index", "Capability")" class="navbar-item">Capabilities</a>
                <a href="https://playbooks.dfds.cloud" class="navbar-item">Playbooks</a>
                <a href="https://github.com/dfds" class="navbar-item">GitHub (Code examples)</a>
                <a href="@Url.Action("SharedComponents", "Frontpage")" class="navbar-item">UI</a>
            </div>

            <div class="navbar-end">
                <div v-cloak class="navbar-item">
                    <a v-if="isAuthenticated()" v-on:click="signOut()">
                        SignOut
                    </a>
                    <a v-if="!isAuthenticated()" v-on:click="signIn()">
                        SignIn
                    </a>
                </div>
            </div>
        </div>

    </div>
</nav>

@RenderBody()

<script>
    window.basePath = "@Context.Request.PathBase";
    window.currentUserRazor = { email: "@UserHelper.CurrentUser.Email" };

    (function() {
        var burger = document.querySelector('.burger');
        var menu = document.querySelector('#' + burger.dataset.target);
        burger.addEventListener('click',
            function () {
                burger.classList.toggle('is-active');
                menu.classList.toggle('is-active');
            });
    })();

</script>

<script src="~/main.bundle.js"></script>

@RenderSection("Scripts", required: false)

</body>
</html>